b{
    color: darkgrey;
}
.grid{
    display: grid;
    width: 100%;
    grid-template: 1fr/6fr 4fr;
    background-color: darkgray;
    position:relative;
}
.banner{
    margin:24px;
    grid-area: 1/1/2/2;
}
.textdoc{
    align-content: center;
    grid-area: 1/2/2/3;
    text-align: center;
    position: absolute;
    top:20%;
    padding: auto;
    font-size: 64px;
    font-weight: bold;
}
h2{
    font-size: 64px;

}
.main{
    display: grid;
    grid-template: 1fr/6fr 4fr;
    column-gap: 24px;
    margin: 24px;
    grid-template-areas: "main card1"
                         "main card2"
                         "main card3";

}    
#a{
    grid-area: main;
    
}                  

#b{
    grid-area: card1;
    padding: 16px;
}   

#c{
    grid-area: card2;
    padding: 16px;
}   
#d{
    grid-area: card3;
    background-color: lightgray;
    padding: 16px;
}   
h1{
 text-align: center;
 margin-top: 32px;
 margin-bottom: 32px;

}
#div3{
    background-color: lightgray;
    margin: 72px;
}
#div4{
    background-color: lightgray;
    margin: 72px;
}
#a img{
    padding-right: 24px;
    padding-left: 24px;
}
.div3{
    display: flex;
    margin: 72px;
    /* column-gap: 32px; */
}
.div5{
    display: grid;
    grid-template-areas: "a c1"
                         "a c2";
                         
    height: 500px;
}
#th1{
    grid-area: c1;
    background-color: lightgray;
    /* padding: 24px; */
}
#th2{
    grid-area: c2;
    padding: 24px;
}
#vdo{
    grid-area: a;
}
footer{
    margin-top: 16px;
}